tensorflow>=2.5.0
notebook>=6.0.0
jupyter
ipywidgets
susi
pandas
matplotlib
seaborn
modAL
bayesian-optimization
umap-learn>=0.3.10
tqdm
patchify
scipy==1.7.0

# for testing
pytest>=5.1.1
pytest-cov
codecov
nbval>=0.9.3
